.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.LevelPaginator {
  display: flex;
  align-items: center;
  margin: 10px
}

.PaginationButton {
  min-width: 0px;
}

.Typography {
  text-align: center;
  width: 150px;
}

.Form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:100%;
}
@media (max-width: 500px) {
  .Card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height:100%;
  }
}