.App {
  width: 100vw;
  min-height: calc(100vh - 86px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(34, 37, 50);
  margin-top: 86px;
}

@media (max-width: 500px) {
  .App {
    height: calc(100vh - 86px);
  }
}